.profile-section{
  color: white;
  font-style: normal;
  border-radius: 300px;
  border-style: none;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-image: url(images/header.jpg);
  padding-right: 100px;
  border-width: thin;
}


#main-content{
font-family: verdana;
background-color: green;
font-size: 18pt;
width: auto;
height: auto;
padding-top: 200px;
box-sizing:c content-box; 


}
